// Contact Us Modal
#contactModal.modal
  .modal-content
    h2 Contact Us
    form#contactForm
      .form-group
        label(for="contactName") Your Name:
        input#contactName(type="text", name="contactName", required)
      .form-group
        label(for="contactEmail") Your Email:
        input#contactEmail(type="email", name="contactEmail", required)
      .form-group
        label(for="contactMessage") Your Message:
        textarea#contactMessage(name="contactMessage", required)
      button.btn.green(type="submit") Send Message
    button#closeContactModal.btn.red(type="button") Close
