.description
  p.styled-text
    b Elevate your style with Circular Fashion – 
    | where fashion meets confidence. 
    | Discover premium-quality, trendsetting apparel designed 
    | for every occasion.
