nav
  ul
    li: a(href="#", id="reviewBtn") Review
    li: a(href="#", id="contactBtn") Contact Us
    li: a(href="#", id="reportBtn") Report
    li: a(href="#", id="profileBtn") Profile
    li
      button#searchDonationBtn.btn.green(type="button") Search
