// Profile Modal
#profileModal.modal
  .modal-content
    h2 Your Profile
    p Your profile details go here.
    a.btn.red(href="/logout") Log Out
    button#closeProfileModal.btn.red(type="button") Close
