// Swap Items Modal
#swapModal.modal
  .modal-content
    h2 Available Swap Items
    table#swapTable(border="1")
      thead
        tr
          th Item Name
          th Category
          th color 
          th Condition
          th Description
          th Image
          th Swap With
      tbody
    button#closeSwapModal.btn.red(type="button") Close
