doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Circular Fashion
    link(rel="stylesheet", href="/style.css")
  body
    header
      .navbar
        h1.logo Circular Fashion

        if user
          - const initial = user.FullName ? user.FullName.charAt(0).toUpperCase() : '?'
          button#openProfileModal.initial-badge(title='Your Profile')= initial
        else
          a.btn(href="/login") Log In

    block content
